<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Comments">
        <id column="id" property="id" />
        <result column="solution_id" property="solutionId" />
        <result column="publisher_id" property="publisherId" />
        <result column="submit_date" property="submitDate" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, solution_id, publisher_id, submit_date, content
    </sql>

</mapper>
