<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.TestCaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.TestCase">
        <id column="id" property="id" />
        <result column="question_id" property="questionId" />
        <result column="input_path" property="inputPath" />
        <result column="output_path" property="outputPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_id, input_path, output_path
    </sql>

    <!--id写到接口中方法名  parameterType输入参数类型-->
    <!--useGeneratedKeys:设置是否使用JDBC的getGenereatedKeys方法获取主键并赋值到keyProperty设置的领域模型属性中-->
    <insert id="saveTestCaseReturnId" keyProperty="id" useGeneratedKeys="true" parameterType="com.example.server.pojo.TestCase">
        insert into test_case(question_id,input_path,output_path) values(#{questionId},#{inputPath},#{outputPath})
    </insert>

</mapper>
